
.categories-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    justify-content: start;
    height: 100%;
    width: 100%;
    position: relative;
    width: 90%;
}

.category-item {
    cursor: pointer;
    padding: 7px;
    border: 1px solid var(--wxr-color-border);
    border-radius: 5px;
    background-color: var(--wxr-color-background);
    color: var(--wxr-color-text);
    font-size: 16px;
    font-weight: semibold;
    text-align: center;
    width: 90%;
}

.category-item:hover {
    background-color: var(--wxr-hover-color);
    border-color: var(--wxr-color-border-hover);
}