.message {
    width: 90%;
    text-align: center;
    font-size: 14px;
    font-weight: 300;  
    margin: 7px;
    padding: 10px;
    border-radius: 4px;
}

.success-message {
    color: #008000;
    background-color: #00800011;
    border: 1px solid rgba(0, 128, 0, 0.2);
}
  
.error-message {
    color: #ff0000;
    background-color: #ff000011;
    border: 1px solid rgba(255, 0, 0, 0.2);
}
  
.status-panel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
  