.slider-container {
  width: 100%; /* 100vw; */
  height: 100%; /* 100vh; */
  overflow: hidden;
  position: relative;
}
.slider-inner {
  display: flex;
  width: 500%;
  height: 100%; /* 100vh; */
  transition: transform 0.5s cubic-bezier(.77,0,.18,1);
}
.panel {
  width: 100%; /* 100vw; */
  max-width: 100%;
  height: 100%; /* 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  /* background-color: red; */
}

.panel-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
button {
  font-size: 1.1rem;
  padding: 0.9rem 2.2rem;
  border: none;
  border-radius: 1rem;
  background: #625bf7;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
button:hover:not(:disabled) {
  background: #4a42c7;
}
